.card {
    box-shadow: 0 16px 48px #E3E7EB;
    min-height: 200px;
}

#bookcard img {
    height: 200px;
    background-clip: padding-box;
    object-fit: cover;        
  }

#bookcard {    
    width: 15rem;
}

.card-text-block {
    position: absolute;
    font-size: 12px;
    border-radius: 15px;
    padding: 2px;  
    background-color: rgb(37, 185, 62);
    color: white;
    text-align: center;
}