.card {
    box-shadow: 0 16px 48px #E3E7EB;
    min-height: 200px;
}

#bookcard img {
    height: 200px!important;
    background-clip: padding-box;
    object-fit: cover;
    
  }

.my-flex-card > div > div.card {
    height: calc(100% - 15px);
    margin-bottom: 15px;
}

.my-custom-scrollbar {    
    height: 200px;
    overflow: auto;
}


.text-block {
position: absolute;
border-radius: 25px;
padding: 2px;  
background-color: rgb(37, 185, 62);
}